<form class="form-signin" method="post">
{{message}}
  <h2 class="form-signin-heading text-centere">Please sign-in!</h2>
  <input type="email" name="email" class="form-control" placeholder="email" require="" autofocus="">
  <br />
  <input type="password" name="password" class="form-control" placeholder="password" require="">
  <br />
  <button class="btn btn-lg btn-primary" name="submit">Sign-in</button>
  <br />
  <h4 class="text-center">Or</h4>
  <br />
  <a href="/auth/facebook" class="btn btn-lg btn-success">Sign in with facebook</a>
</form>
